*{
  box-sizing: border-box;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: mintcream;
    font-family: Arial, Helvetica, sans-serif;
  }

  .main-header {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color: navy;
    color: #fff;
    font-size: 175%;
  }
  
.main-header img{
  width: 200px;
  height: 200px;
}

nav {
  display: flex;
  background-color: darkgoldenrod;
}

nav a {
  color: black;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 150%;
}

.Projects {
  flex: 1;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

article {
  display: flex;
  text-align: center;
  height: 500px;
  width: 900px;
  background-color:steelblue;
  padding: 20px;
  flex-direction: column;
}

.Burger img {
  height: 400px;
  width: 800px;
}

section {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

section img {
  display: flex;
  min-width: 200px;
  height: 400px;
  width: 400px;
}

footer {
  display: flex;
  background-color:rgb(39, 42, 221) ;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

footer a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    flex-direction: row;
  
}

ul{
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 145%;
  list-style: none;
}

@media screen and (max-width: 992px) {
  .section img {
    width: 50%;
  }
}